$screen-lg: 1200px;
$screen-md: 800px;
$screen-sm: 600px;
$screen-xs: 400px;

$color-black:#3a3a3a;
$color-black-transparent: #000000db;
$color-disable:#00000042;
$color-red: #d45244;
$color-beige:#f6edd8;