body {
    padding-top: 132px;
    background: url(../assets/img/blue-bc.png);
    overflow-x: hidden;
    overflow-y: scroll;
    margin: auto;
    font-family: 'Bazar';

    @media(max-width: 1000px) {
        padding-top: 0px;
    }
}

body.light-box {
    display: none;
    overflow-y: hidden;
}

h1 {
    font-size: 81px;
    text-shadow: #ffffff 2px 2px 0px, #484a4d 4px 4px 0px;
    margin: 8px auto;
    color: #3a3a3a;

    @media (max-width:450px) {
        font-size: 50px
    }
}