h1 {
    font-size: 81px;
    text-shadow: #ffffff 2px 2px 0px, #484a4d 4px 4px 0px;
    margin: 8px auto;
    color: #3a3a3a
}

.container {
    padding: 50px 220px;
    position: relative;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width:1200px) {
        padding: 40px 0;
    }


    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 10px;
        width: 100%;
        border-top: dotted gray 1px;
        opacity: 0.5;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        width: 100%;
        border-bottom: dotted gray 1px;
        opacity: 0.5;
    }
}

.title,
.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 35px;

    p {
        font-family: 'Oswald-Regular', sans-serif;

        @media (max-width:450px) {
            font-size: 14px;
        }
    }

    h1 {
        @media (max-width:450px) {
            font-size: 50px
        }
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 18px;
}

.back-drop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);

}