.nav {
    width: 100%;
    display: flex;
    position: relative;
    color: #f9ebd9;
    height: 132px;
    box-shadow: 0px 0px 3px grey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
    background: url(../../assets/img/blue-bc.png);
    transition: 0.5s;

    &.nav-height {
        height: 87px;
        transition: 0.5s;

    }

    @media (max-width:$screen-lg) {
        display: none;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        height: 10px;
        width: 100%;
        border-top: dotted gray 1px;
        opacity: 10s;
    }

    &__list {
        margin: auto;
        display: flex;
        align-items: center;
        transition: 0.5s;
        height: 152px;

        &.list-height {
            height: 105px;
            transition: 0.5s;
        }
    }

    &__item {
        display: inline-block;
        padding: 0px 40px;

        &:hover {
            color: black
        }
    }

    &__item--logo {
        width: 150px;
        height: 150px;
        display: inline-block;
        z-index: 300;
        transition: 0.5s;
        position: relative;
        z-index: 100;


        &.scale-down {
            transform: scale(0.7);
            transition: 0.5s;
        }
    }
}