.sliderSection {
    background: url(../../assets/img/blue-bc.png);

    &__box {
        padding: 15px 0;
        color: $color-beige;
        text-align: center;

        @media (max-width:900px) {
            font-size: 10px;
        }
    }

    &__box>* {
        margin: auto;
    }

    &__title {
        padding: 15px 0;
    }

    &__subtitle {
        padding: 5px 0;

        @media (max-width:400px) {
            line-height: 22px;
        }
    }

    &__slider-wrapper {
        padding: 10px;
        padding-bottom: 20px;
        background: white;
        color: $color-black;
        text-align: center;
        max-width: 830px;
        position: relative;
        overflow: hidden;

        @media (max-width:900px) {
            width: 400px;
        }

        @media (max-width:460px) {
            width: auto;
        }
    }

    &__next-button,
    &__prev-button {
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__next-button {
        right: -2px;
        top: 40%;
    }

    &__prev-button-image {
        width: 55%;
        margin-left: 8px;
    }

    &__prev-button {
        left: -2px;
        top: 40%;
    }

    &__next-button-image {
        width: 55%;
        margin-left: 8px;
    }
}

.slick-slider {
    img {
        width: 100%;
    }
}