.about {
    background: url(../../assets/img/bright-bc_03.png);
    color: #3a3a3a;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item-subtitle {
        font-family: 'Roboto-Regular';
        position: relative;
    }

    &__item-text {
        font-family: 'Roboto-Regular';
        line-height: 22px;
        font-size: 12.6px;
    }

    &__item-text--bold {
        font-family: 'Roboto-Bold'
    }

    &__item-text--underline {
        text-decoration: underline;
    }

    &__item--text--italic {
        font-style: italic;
    }

    &__item-wrapper {
        display: flex;

        @media (max-width:900px) {
            flex-wrap: wrap;
            padding: 0 30px;
        }
    }

    &__item>* {
        margin: 10px auto;
    }
}