.contact {
    background: url(../../assets/img/dark-bc.png);

    h1,
    h2,
    p {
        color: #f6edd8;
    }

    h1 {
        text-shadow: #636363 2px 2px 0px, #f6edd8 4px 4px 0px;
    }

    &__form {
        width: 400px;
        margin-bottom: 70px;

        @media (max-width:600px) {
            width: 340px;
        }

        @media (max-width:400px) {
            width: 300px;
        }

        input,
        textarea,
        button {
            margin: 5px auto;
            border: none;
            border-radius: 4px;
            font-family: "Roboto-Regular"
        }

        input,
        textarea {
            padding: 10px;
            box-sizing: border-box;
        }

        textarea {
            height: 130px;
        }

        button {
            background: #dddad7;
            font-family: 'Roboto-Bold';
            color: #383a3c;
            transition: 0.3;

            &:hover {
                background: #383a3c;
                color: #dddad7;
                transition: 0.3;
                cursor: pointer;
            }
        }
    }

    &__icons-wrapper {
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    &__icon {
        width: 80px;
        transition: 0.2s;
        transform: scale(0.9);

        &:hover {
            transform: scale(1.1);
            transition: 0.2s;
            cursor: pointer;
        }

        @media (max-width:500px) {
            width: 50px;
            margin: 5px;
        }
    }

    .line {
        background: #f6edd8;
    }

    .separator {

        &:after,
        &:before {
            background: #f6edd8;
        }
    }
}