.nav {
    width: 100%;
    display: flex;
    position: relative;
    color: #f9ebd9;
    height: 132px;
    box-shadow: 0px 0px 3px grey;

    @media (max-width:1000px) {
        display: none;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        height: 10px;
        width: 100%;
        border-top: dotted gray 1px;
        opacity: 0.5;
    }

    &__list {
        margin: auto;
        display: flex;
        align-items: center;
    }

    &__item {
        display: inline-block;
        padding: 0px 40px;

        &:hover {
            color: black
        }
    }

    &__item--logo {
        width: 150px;
        height: 150px;
        display: inline-block;
        z-index: 300;
        transition: 0.5s;


        &.scale-down {
            transform: scale(0.7);
            margin-top: 43px;
            transition: 0.5s;
        }
    }

    &.active {
        position: fixed;
        width: 100%;
        z-index: 300;
        background: url(../../assets/img/blue-bc.png);
    }
}