.portfolio {
    background: url(../../assets/img/red-bc.png);
    color: #38353e;

    &__filters {
        display: flex;
        align-self: baseline;
        margin-left: 5px;
        margin-bottom: 21px;

        p {
            margin-right: 20px;
            font-family: 'Roboto-Regular';

            @media (max-width:700px) {
                flex-wrap: wrap;
                font-size: 12px;
            }
        }
    }

    &__filters-list {
        display: flex;

        @media (max-width:700px) {
            flex-wrap: wrap;

        }

        li {
            margin-right: 20px;
            background: #fbfaf6;
            padding: 5px 4px 5px 2px;
            display: flex;
            position: relative;
            border-radius: 2px;
            font-family: 'Roboto-Bold';
            font-size: 13px;

            @media (max-width:730px) {
                font-size: 12px;
                padding: 5px 4px 6px 0px;
                margin-bottom: 10px
            }

            &:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-top: 12px solid transparent;
                border-bottom: 12px solid transparent;
                border-right: 13px solid #fbfaf6;
                position: absolute;
                top: 50%;
                margin-top: -12px;
                right: 100%;
                z-index: 2;
            }

            span {
                margin-right: 5px;
                display: flex;
                align-items: center;
            }
        }

    }

    &__filters-list li,
    &__portfolio-item img,
    &__close-icon,
    &__btn {
        cursor: pointer;
    }

    &__portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__portfolio-item {
        width: 23%;
        height: 240px;
        background: #fbfaf6;
        margin: 5px;
        padding: 5px;

        @media (max-width:1000px) {
            width: 20%
        }



        @media (max-width:900px) {
            width: 40%
        }

        @media (max-width:600px) {
            width: 45%
        }

        @media (max-width:550px) {
            width: 75%
        }
    }

    &__image {

        overflow: hidden;
        min-height: 180px;

        img {
            width: 100%;
            min-height: 100%;

        }
    }

    &__caption {
        position: relative;
        height: 70px;
        display: flex;
        align-items: flex-end;
        font-family: 'Roboto-Bold', serif;

        p {
            margin-bottom: 10px;
            margin-top: 31px;

            @media (min-width:900px) and (max-width:1000px) {
                font-size: 12px;

            }

            @media (max-width:400px) {
                font-size: 12px;

            }
        }
    }

    &__caption-icon {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%)
    }

    &__btn {
        font-family: 'Oswald-Bold';
        margin-top: 20px;
    }

    &__close-icon {
        position: absolute;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        left: 10px;
        top: 10px;
        background: white;

    }

}