.sliderSection {
    background: url(../../assets/img/blue-bc.png);

    &__box {
        padding: 15px 0;
        color: #f7ebd8;
        text-align: center;

        h2 {
            padding: 5px 0;
        }

        @media (max-width:900px) {
            font-size: 10px;
        }
    }

    &__box>* {
        margin: auto;
    }

    &__title {
        padding: 15px 0;
    }

    &__slider-wrapper {
        padding: 10px;
        padding-bottom: 20px;
        background: white;
        color: #383a3c;
        text-align: center;
        max-width: 830px;
        position: relative;
        overflow: hidden;


        @media (max-width:900px) {
            width: 400px;
        }

        @media (max-width:460px) {
            width: 270px;
        }
    }

    &__next-button,
    &__prev-button {
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
    }

    &__next-button {
        right: -2px;
        top: 40%;

        img {
            width: 55%;
            margin-left: 3px;
        }
    }

    &__prev-button {
        left: -2px;
        top: 40%;

        img {
            width: 55%;
            margin-left: 8px;
        }
    }
}

.slick-slider {
    img {
        width: 100%;
    }
}